<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li><a href="/user" class="waves-effect"><i class="fa fa-navicon m-r-10" aria-hidden="true"></i>Users</a></li>
        <li><a href="/group" class="waves-effect"><i class="fa fa-group m-r-10" aria-hidden="true"></i>Groups</a></li>
        <p>--------------------</p>
        <li><a href="/logout" class="waves-effect"><i class="fa fa-power-off m-r-10" aria-hidden="true"></i>Logout</a></li>
    </ul>
</nav>